*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$radius-pad: 1.75em;
$tabSize: 800px;
$smallTabSize: 600px;
$phoneSize: 484px;
$smallPhoneSize: 390px;
$xSize: 375px;

@mixin tab {
	@media (max-width: #{$tabSize}) {
		@content;
	}
}
@mixin smallTab {
	@media (max-width: #{$smallTabSize}) {
		@content;
	}
}

@mixin phone {
	@media (max-width: #{$phoneSize}) {
		@content;
	}
}
@mixin smallPhone {
	@media (max-width: #{$smallPhoneSize}) {
		@content;
	}
}
@mixin xPhone {
	@media (max-width: #{$xSize}) {
		@content;
	}
}

html,
body {
	@include smallTab {
		overflow-x: hidden;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	margin: 20px calc(10vh + 10.5vw + 2%) 7em;

	@include tab {
		margin: 20px 30px 7em;
	}
}

img {
	width: 290px;
	height: 329px;
}

.btn {
	margin-top: 3em;
	background-color: #f99334;
	padding: 7.5px 27px;
	border: none;
	font-size: 13px;
	color: white;

	@include tab {
		font-size: 2em;
		padding: 0.5em 3em;
		width: 100%;
	}
}

.lefter {
	@include smallPhone {transform: scale(0.95);
		position: relative;
		left: -35px;
	}

	@include xPhone {
		transform: scale(0.95);
		position: relative;
		left: -25px;
	}
}

.nav-sect {
	display: flex;

	.child {
		display: flex;
		align-items: center;
	}

	#header-nav {
		display: flex;
		width: 100%;

		.child:nth-child(1) {
			flex: 3;
		}
		.child:nth-child(2) {
			flex: 1;
		}
	}

	ul {
		li {
			display: inline-block;
			cursor: pointer;
			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.header-nav {
		ul {
			li {
				a {
					padding: 10px 20px;
					font-size: 13px;
				}
			}
		}
	}

	.header-links {
		ul {
			li {
				width: 35px;
				i {
					font-size: 15px;
				}

				border-radius: 50%;
				border: 1px solid #fff;
				padding: 8px 10px;

				margin-left: 2px;
			}
		}
	}
}

header.container {
	color: #fff;
	margin: 0;
	background-color: #3e5bd6;
	width: 100%;
	padding: 20px calc(10vh + 10.5vw + 2%) 7em;

	@include tab {
		padding: 20px 30px 7em;
	}

	@include smallTab {
		padding: 20px 0 7em;
	}

	.nav-btn {
		display: none;
		cursor: pointer;
		transform: rotateY(-180deg);
		width: calc(568px / 12);
		position: absolute;
		right: 20px;
		z-index: 2;

		div:first-child {
			width: 100%;
		}

		div {
			position: relative;
			width: 70%;
			height: 3px;
			margin-top: 10px;
			background-color: #fff;
		}

		@include tab {
			display: block;
		}
	}
	.nav-btn:hover {
		transform: scale(0.8) rotateY(-180deg);
		transition: ease-in 300ms;
	}
	.nav-btn.active {
		top: 2em;
		div:nth-child(1) {
			transform: rotate(-45deg);
			width: 50%;
		}
		div:nth-child(2) {
			display: none;
		}
		div:nth-child(3) {
			width: 50%;
			transform: rotate(45deg);
			top: -12px;
		}
	}

	#header-nav {
		@include tab {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: rgba(35, 61, 99, 0.904);
			display: grid;
			place-items: center;

			ul {
				display: grid;
				place-items: center;
				li {
					display: block;
					width: 70vw;
					padding: 1em 0;
					text-align: center;
					transition: 500ms;

					a {
						width: 100%;
						padding: 0;
						font-size: calc(2vw + 2vh + 1%);
					}

					.fa {
						font-size: calc(2vw + 2vh + 1%);
					}
				}
			}

			ul:hover li {
				filter: blur(2px) opacity(40%);
			}
			ul li:hover {
				transform: scale(1.5);
				background: rgba(14, 24, 39, 0.109);
				filter: blur(0) opacity(100%);
			}

			.header-links {
				ul {
					li {
						margin-bottom: -20px;
						transform: rotateX(30deg);

						border-color: rgba(255, 255, 255, 0.02);
						background-color: rgba(255, 255, 255, 0.01);
					}

					li:hover {
						margin-bottom: -30px;
						transform: rotateX(60deg);
						border-color: rgba(255, 255, 255, 0.089);
						background-color: rgba(255, 255, 255, 0.034);
					}
				}
			}
			clip-path: circle(100px at 100% -50%);
			transition: all ease-out 1000ms;
		}
	}

	#header-nav.active {
		@include tab {
			clip-path: circle(1500px at 100% -20%);
		}
	}

	.header-logo-img {
		h1 {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #1f3ece;
			width: $radius-pad;
			height: $radius-pad;
			border-radius: 50%;
		}
	}

	.content-sect {
		display: flex;
		margin-top: $radius-pad;

		@include tab {
			display: grid;
			place-items: center;
		}

		.profile-content {
			flex: 1.5;
			padding-top: 4.25em;
			line-height: 1.5;

			@include tab {
				text-align: center;
			}

			h1 {
				letter-spacing: 1.5px;

				@include tab {
					text-align: justify;
					font-size: calc(2.5vw + 3vh + 1%);
				}

				@include phone {
					font-size: calc(1.8vw + 2vh + 1%);
				}

				span {
					border-bottom: 3px solid #fff;
				}
			}
		}
		.profile {
			flex: 1;

			@include tab {
				margin: 2em 0 0;
				display: grid;
				place-items: center;

				img {
					margin: auto;
					width: calc(20vw + 30vh + 1%);
					height: 500px;
				}
			}
		}
	}
}

main.container {
	// fOR EACH ARTICLE
	.article {
		width: 450px;
		line-height: 2;
		font-size: 14px;
		padding-bottom: $radius-pad;

		@include tab {
			width: 80%;
			margin: auto;
			font-size: 1.5em;
			text-align: center;
		}
	}

	// fOR EACH CONTENT
	.content {
		display: flex;
		.profile {
			flex: 1;
			margin-right: 5em;
			position: relative;
		}

		@include tab {
			display: grid;
			place-items: center;
		}
	}

	// fOR EACH Arrows :)
	.arrows {
		.arrow {
			margin: calc(100px / 3) 0 0;
			width: 40px;
			position: relative;
			div {
				position: absolute;
				width: 35%;
				height: 2px;
				background: #f99334;
				margin: 5px 0;
			}
			div:first-child {
				width: 100%;
			}
			div:nth-child(2) {
				transform: rotate(-40deg);
				top: -5px;
				left: 0px;
			}
			div:nth-child(3) {
				transform: rotate(40deg);
				top: 5px;
				left: 0px;
			}
		}
		.reversed {
			margin-left: 55px;
			transform: rotateY(180deg);
			div {
				background: gray;
			}
		}
	}

	// fOR EACH Small Element
	small {
		opacity: 0.4;
	}

	// fOR EACH CHILD
	.child {
		margin: 2em 0 4em;
		@include tab {
			display: grid;
			place-items: center;
		}

		.sub-heading {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			font-size: 12px;
			color: #f99334;

			// Line
			.line {
				border-bottom: 1px solid #f99334;
				padding: 0 8px;
				margin-right: 1em;
			}

			@include tab {
				font-size: 1.2em;
				.line {
					border-bottom: 2px solid #f99334;
				}
			}
		}

		.heading {
			color: #233d63;
			width: 400px;
			margin: 0.8em 0 1.2em calc(1em - 8px);

			@include tab {
				width: calc(100% / 2);
			}
		}
	}

	// fOR EACH CARDS :)
	.cards {
		display: grid;
		grid-template-columns: repeat(3, calc(800px / 3));
		grid-gap: 20px;

		@include tab {
			margin-left: calc(0.25vh + 0.5vw + 1%);
			grid-template-columns: repeat(2, calc(800px / 3));
			place-items: center;
		}

		@include smallTab {
			grid-template-columns: repeat(1, calc(800px / 3));
			font-size: 1.4em;
		}

		.card {
			padding: 0.5em 15px 0;
			box-shadow: inset 0 0 10px 8px #fff,
				0 0.7em 1em 0.3em rgba(0, 0, 0, 0.041);
			position: relative;
			.title {
				width: calc(265px / 3);
				margin: 0 0 $radius-pad;
				color: #233d63;
			}
		}
	}

	// THE ABOUT SECTION
	.about-me {
		.profile-content {
			flex: 2;

			.content-headings {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				padding: $radius-pad 0;

				@include smallTab {
					grid-template-columns: repeat(3, 1fr);
					text-align: center;
				}

				h5:first-child {
					color: #f99334;
					@include smallTab {
						font-size: 20px;
					}
				}

				h5 {
					@include smallTab {
						font-size: 18px;
					}
				}

				span {
					@include smallTab {
						display: none;
					}
				}
			}

			.buttons {
				@include tab {
					text-align: center;
				}
				.btn {
					border: 1px solid #f99334;
					background: none;
					color: #f99334;
					margin-right: 15px;

					@include tab {
						margin-top: 15px;
					}
				}

				btn:hover {
					background: #f99334;
					color: #fff;
				}
			}
		}

		.profile-top-line {
			position: absolute;
			padding: calc(329px / 12.8) calc(290px / 6);
			border-bottom: 1px solid #f99334;
			top: -15px;
			right: -3em;
		}

		.profile-bottom-lines {
			position: absolute;
			padding: calc(329px / 4) calc(290px / 3);
			border-bottom: 1px solid #3e5bd5;
			border-left: 1px solid #3e5bd5;
			bottom: -15px;
			left: -15px;
		}
	}

	// THE SERVICES SECTION
	.my-services {
		.sub-title {
			padding: $radius-pad 0;
			color: #f99334;
			font-size: 11.75px;
			
			@include tab {
				font-size: calc(1.5vh + 2vw + 1%);
			}
		}

		.content {
			line-height: 2;
			font-size: 13px;
			margin-bottom: calc(1.5em + 30px);

			@include tab {
				font-size: calc(2vh + 2.5vw + 1%);
			}
		}

		.card-plus-btn {
			display: grid;
			place-items: center;
			width: (265px / 6);
			height: (178px / 4);
			position: absolute;
			bottom: 0;
			right: 0;

			i {
				padding: 0 1px;
				font-weight: 100;
			}
		}

		.active {
			background-color: #f99334;
			color: #fff;
		}
	}

	.testimonial {
		// Quote Design

		.sub-heading {
			margin: 0;
		}

		.content {
			margin-top: -10px;
		}

		.profile-details {
			margin: 2.5em 0 2em calc(25px * 2);
		}

		.flex {
			position: relative;

			.fa {
				position: absolute;
				left: -10px;
				top: 0;

				background: #f99334;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2.35em;
				height: 2.25em;
				border-radius: 50%;
				color: #fff;
				font-size: calc(100% - 3px);
			}

			.article {
				margin: 0 calc(25px * 2 / 2) 0 calc(25px * 2);
			}
		}

		.profile {
			position: relative;

			.clip {
				position: absolute;
			}

			.circle-clip {
				border: 3px solid #1f3ece;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				right: calc(-30px / 2);
				top: calc(329px / 4.5);
			}
			.polygon-clip {
				border: 3px solid #1f3ece;
				width: 30px;
				height: 30px;
				transform: rotate(45deg);
				left: calc(-30px / 2);
				top: calc(329px / 1.5);
			}
		}
	}

	.news-and-blog {
		.align {
			display: grid;
			place-items: center;
		}
		.cards {
			@include tab {
				margin-left: calc(0.5vh + 1vw + 1%);
			}
			.card {
				position: relative;
				.blockquote {
					position: absolute;
					padding: 5px 10px;
					width: 100%;
					top: 20px;
					left: 0;
					border-left: 4px solid #1f3ece;

					h5 {
						color: #233d63;
					}
				}

				.title {
					margin: 78px 0 calc(60px / 2);
					width: 100%;
					line-height: 1.6;
				}

				.footer {
					margin: 3px 0 1.3em;
					line-height: 1.6;
					font-size: 14px;

					@include tab {
						font-size: calc(1.5vh + 1.8vw + 1%);
					}
				}
			}
			.card:first-child {
				.blockquote {
					border-color: #e26156;
				}
			}

			.card:last-child {
				background: #008cff;
				box-shadow: inset 0 0 10px 8px #008cff,
					0 0.7em 1em 0.3em rgba(0, 0, 0, 0.041);
				color: #fff;

				.blockquote {
					border-color: #fff;
				}

				h5 {
					color: #fff;
				}
				small {
					opacity: 0.7;
				}
				.title {
					color: #fff;
					text-decoration: underline;
				}
			}
		}
	}
}

footer.container {
	display: grid;
	place-items: center;
	position: relative;
	margin-bottom: 3em;

	.make-a-wave {
		display: grid;
		place-items: center;
		width: 100%;
		background-color: #1f3ece;
		border-radius: 5px;
		padding: 2em 0;
		line-height: 2.5;
		letter-spacing: 1.1px;
		color: #fff;

		a {
			color: #fff;
			letter-spacing: 1.6px;
			text-decoration: none;
			border-bottom: 1px solid #fff;
		}
	}

	.nav-sect {
		flex-direction: column;

		.header-nav {
			margin: 6em 0 2em;
		}
		.header-links {
			padding-bottom: 1em;
			ul {
				li {
					border-color: #222;
				}
			}
		}

		ul {
			li {
				display: inline-block;
				a {
					color: #222;
				}
			}
		}
	}

	.end-text-nodes {
		position: absolute;
		bottom: 0;
		width: 100%;

		h5 {
			position: absolute;
			right: 0;
		}

		h5:last-child {
			position: absolute;
			left: 0;
		}
	}
}
